In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_comparison_table = pd.read_csv("Приложение_1\Приложение_1_Цены на услуги спортивных комплексов для корпоративных клиентов.csv", sep=';', encoding='windows-1251')

In [5]:
df_comparison_table.sample(5)

,Спортивный комплекс,Предоставляемая услуга,Количество занятий,Стоимость
5,АУ РМ «СК «Мордовия,Тренажерный зал,1 занятие,350
16,АУ РМ «СК «Мордовия,Фитнес,Клубная карта на 1 месяц,2000
6,АУ РМ «СК «Мордовия,Тренажерный зал,Клубная карта на 1 месяц,2100
22,АУ РМ «СК «Мордовия,Солярий,1 мин.,17
2,ГАУ РМ «Ледовый дворец»,Тренажерный зал,Льготный 1 месяц,800

In [6]:
df_comparison_table.pivot_table(
               index=["Предоставляемая услуга", "Количество занятий"],
               columns=["Спортивный комплекс"],
               values=["Стоимость"])

                                                          Стоимость  \
Спортивный комплекс                             АУ РМ «СК «Мордовия
Предоставляемая услуга Количество занятий
Солярий                1 мин.                                    17
                       60 мин.                                  900
Тренажерный зал        1 занятие                                350
                       Абонемент на 3 месяца                   5000
                       Абонемент на 6 месяцев                  9000
                       Клубная карта на 1 месяц                2100
                       Льготный 1 месяц                        1050
Фитнес                 1 занятие                                300
                       Абонемент на 3 месяца                   5000
                       Абонемент на 6 месяцев                  8500
                       Клубная карта на 1 месяц                2000
                       Льготный 1 месяц                        1000


Спортивный комплекс                             ГАУ РМ «Ледовый дворец»
Предоставляемая услуга Количество занятий
Солярий                1 мин.                                        15
                       60 мин.                                      600
Тренажерный зал        1 занятие                                    250
                       Абонемент на 3 месяца                       4500
                       Абонемент на 6 месяцев                      8500
                       Клубная карта на 1 месяц                    1600
                       Льготный 1 месяц                             800
Фитнес                 1 занятие                                    250
                       Абонемент на 3 месяца                       4500
                       Абонемент на 6 месяцев                      8500
                       Клубная карта на 1 месяц                    1800
                       Льготный 1 месяц                            1100